@charset "UTF-8";
@import url(reset.css);

body {
    font-family: 'Segoe UI';
}

h1, h2, h3, h5, h4, h5, h6 {
    margin: 0 0 0.4em 0;
    line-height: 1.15em;
}

    h1 a, h2 a, h3 a, h5 a, h4 a, h5 a, h6 a {
        text-decoration: underline;
    }

h1 {
    font-size: 2em;
}

    h1.wallabag-header {
        font-size: 1.3em;
        font-weight: bolder;
        margin-bottom: 0.5em;
        margin-top: 1em;
    }

h2 {
    font-size: 1.7em;
}

    h2.wallabag-subheader {
        font-size: 1em;
        margin-bottom: 2em;
    }

        h2.wallabag-subheader a {
            text-decoration: none;
            color: rgb(110,230,110);
            border-bottom: 1px dashed rgb(110,230,110);
        }

h3, h5 {
    font-size: 1.45em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dashed rgb(110,230,110);
}

p, ul, ol, dl {
    margin: 0 0 1.75em 0;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #5b5b5b;
    margin: 3.2em 0;
    padding: 0;
}

blockquote {
    font-family: 'Times New Roman';
    line-height: 1.25;
    padding-left: 75px;
}

    blockquote p {
        margin: 0.8em 0;
        font-style: italic;
    }

    blockquote cite {
        font-style: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 11pt;
    }

        blockquote cite:before {
            content: "—";
            margin-right: 1px;
        }

small {
    font-size: 12pt;
}

dl {
    margin: 1.6em 0;
}

    dl dt {
        float: left;
        width: 180px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        margin-bottom: 1em;
    }

    dl dd {
        margin-left: 200px;
        margin-bottom: 1em;
    }

pre {
    box-sizing: border-box;
    margin: 64px 0;
    border: 1px solid #efefef;
    width: 100%;
    padding: 16px;
    font-family: Consolas, monospace;
    white-space: pre;
    overflow: auto;
}

    pre code, pre tt {
        font-size: 0.8em;
        line-height: 1.6em;
        white-space: pre-wrap;
        background: transparent;
        border: none;
        padding: 0;
        vertical-align: inherit;
    }

code {
    padding: 2px 6px;
    margin: 0 4px;
    font-family: Consolas, monospace;
    font-size: 0.8em;
    white-space: pre;
    border: 1px solid #efefef;
    vertical-align: top;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

::selection {
    background: rgb(70,150,70);
    color: white;
}
