@background-color: hsl(0, 0%, 100%);
@text-color: hsl(0, 0%, 0%);
@accent-color: hsl(0, 0%, 40%);

/*-----------------------------------------------------------------*/
/*-------------------------- General properties -------------------*/
/*-----------------------------------------------------------------*/
body {
    background-color: @background-color;
    color: @text-color;
    font-family: Georgia;
    font-size: 16px;
    line-height: 1.7;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-top: 0.2em;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h3, h4 {
    font-size: 1.2em;
}

h5, h6 {
    font-size: 1.1em;
}

p {
    margin-bottom: 0.75em;
    text-align: justify;
}

a {
    color: @text-color;
    text-decoration: underline;

    &:active, &:hover {
        outline: 0;
    }
}

p, ul, ol, dl {
    margin: 0 0 1.75em 0;
}

ul, ol {
    padding-left: 20px;
}

li {
    padding-bottom: 0.2em;
    line-height: 1.6;
}

li p:last-child, li li:last-child {
    margin-bottom: -0.2em;
}

ul li:last-child, ol li:last-child {
    padding-bottom: 0;
}

mark {
    padding: 0 0.2em;

    a {
        text-decoration: none;
    }
}

img {
    display: inline-block;
    height: auto;
    margin-bottom: 0.5em;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin: 0;

    figcaption {
        display: block;
        margin-top: 0.3em;
        font-style: italic;
        font-size: 0.8em;
        opacity: 0.7;
    }
}

button {
    display: none !important;
}

hr {
    display: block;
    height: 1px;
    border: solid @accent-color;
    border-width: 1px 0 1px 0;
    margin: 1.6em 0;
    padding: 0;
}

small {
    font-size: 12pt;
}

dl {
    margin: 1.6em 0;

    dt {
        float: left;
        width: 180px;
        overflow: hidden;
        clear: left;
        text-align: right;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        margin-bottom: 1em;
    }

    dd {
        margin-left: 200px;
        margin-bottom: 1em;
    }
}

pre {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 64px 0;
    border: 1px solid #efefef;
    width: 100%;
    padding: 16px;
    font-family: Consolas, monospace;
    white-space: pre;
    overflow: auto;

    code {
        font-size: 0.8em;
        line-height: 1.6em;
        white-space: pre-wrap;
        background: transparent;
        border: none;
        padding: 0;
        vertical-align: inherit;
    }
}

code {
    padding: 2px 6px;
    margin: 0 4px;
    font-family: Consolas, monospace;
    font-size: 0.8em;
    white-space: pre;
    border: 1px solid lightgray;
    vertical-align: top;
}

::selection, mark {
    background: @accent-color;
    color: @background-color;
}

article {
    margin: 0 auto;
    margin-bottom: 4em;
    max-width: 960px;
    padding: 0 20px;
}

/*-----------------------------------------------------------------*/
/*------------------------------ Header ---------------------------*/
/*-----------------------------------------------------------------*/

.wallabag-header {
    h1, h2 {
        max-width: 960px;
        text-align: center;
        margin: 0 auto;
    }

    h1 {
        font-size: 1.6em;
        font-weight: lighter;
        line-height: 1.2;
        margin-bottom: 0;
        margin-top: 0.5em;
    }

    h2 {
        border: solid lightgray;
        border-width: 1px 0;
        display: block;
        font-size: 0.9em;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 1.5em;
        margin-top: 0.75em;
        padding: 0.2em 0;

        a {
            color: @accent-color !important;
            text-decoration: none;
        }
    }
}

/*-----------------------------------------------------------------*/
/*----------------------- Customization ---------------------------*/
/*-----------------------------------------------------------------*/

[data-font="serif"] {
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

[data-font="sans"] {
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

[data-color="light"] {
    body {
        background: hsl(0, 0%, 100%);
        color: hsl(0, 0%, 0%);
    }

    a {
        color: hsl(0, 0%, 20%);
    }
}

[data-color="dark"] {
    body {
        background: hsl(0, 0%, 20%);
        color: hsl(0, 0%, 80%);
    }

    a {
        color: hsl(0, 0%, 90%);
    }
}
