<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Toolkit.Controls" version="2.1.0" targetFramework="win81" userInstalled="true" />
  <package id="Fody" version="1.28.3" targetFramework="win81" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="win81" userInstalled="true" />
  <package id="PropertyChanged.Fody" version="1.49.1" targetFramework="win81" developmentDependency="true" userInstalled="true" />
</packages>